! xterm configuration

! from https://github.com/seenaburns/dotfiles/blob/master/.config/alacritty/alacritty.yml
! apparently inspired from https://github.com/ChrisKempson/Tomorrow-Theme
*background: #1D1C27
*foreground: #C8D1E3
*color0:  #686B82
*color1:  #FF3E57
*color2:  #00FA8E
*color3:  #E5D781
*color4:  #18A2FF
*color5:  #CE63EC
*color6:  #47E3DD
*color7:  #C8D1E3
*color8:  #2B2A3B
*color9:  #FF3E57
*color10: #00FA8E
*color11: #E5D781
*color12: #18A2FF
*color13: #CE63EC
*color14: #47E3DD
*color15: #EDEFF2

URxvt.scrollBar:   false
URxvt.font:        xft:noto sans mono:size=15
URxvt.cursorColor: magenta
URxvt.transparent: false
URxvt.shading:     10

! Extensions
URxvt.perl-ext-common: default,resize-font,keyboard-select,url-select,clipboard
URxvt.colorUL: #4682B4 

! clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
! url select
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.launcher:  /usr/bin/firefox
URxvt.url-select.underline: true
! keyboard-select mapping
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

! Ctrl+arrows key bindings for fast word
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
